* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: linear-gradient(92deg, #7de3c9, #977de3, #e37d97, #c9e37d);
}

li {
  list-style: none;
}

.pokemon-card-type-grass {
  background-color: #94f99b;
}

.pokemon-card-type-fire {
  background-color: #faa8a8;
}

.pokemon-card-type-water {
  background-color: #def3fd;
}

.pokemon-card-type-bug {
  background-color: #98c77a;
}

.pokemon-card-type-normal {
  background-color: #f5f5f5;
}

.pokemon-card-type-poison {
  background-color: #98d7a5;
}

.pokemon-card-type-electric {
  background-color: #f5e696;
}

.pokemon-card-type-ground {
  background-color: #f4e7da;
}

.pokemon-card-type-fairy {
  background-color: #fceaff;
}

.pokemon-card-type-fighting {
  background-color: #e6e0d4;
}

.pokemon-card-type-rock {
  background-color: #958d85;
}

.pokemon-card-type-psychic {
  background-color: #d397f7;
}

.pokemon-card-type-ice {
  background-color: #b9e8ea;
}

.pokemon-card-type-dragon {
  background-color: #ffe34c;
}

.pokemon-card-type-flying {
  background-color: #f5f5f5;
}

.pokemon-card-type-ghost {
  background-color: #a936f1;
}

.pokemon-card-type-steel {
  background-color: #87898c;
}

.pokemon-card-type-dark {
  background-color: #1c2f2f;
  color: #fff;
}

.pokemon-card-type-dark .pokemon-card-number {
  color: #000;
}

@font-face {
  font-family: "pokemon";
  src: url("../../fonts/pokemon_solid-webfont.woff") format("woff2"),
    url("../../fonts/pokemon_solid-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #ef5350;
  margin-bottom: 2rem;
}

.header h1 {
  font-family: "pokemon", sans-serif;
  font-size: 3.5rem;
  text-align: center;
  letter-spacing: 1px;
  color: #faca48;
  -webkit-text-stroke: 2px #3b62a3;
}

.header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header ul li {
  font-size: 0.8rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease-in-out;
}

.header ul li:hover {
  background-color: #faca48;
  transition: background-color 0.5s ease-in-out;
}

.pokemon-grid {
  margin: 2rem;
}

@media screen and (min-width: 400px) {
  .pokemon-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}
@media screen and (min-width: 600px) {
  .pokemon-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 900px) {
  .pokemon-grid {
    grid-template-columns: repeat(4, 1fr);
    margin: 0 4rem;
  }
}
@media screen and (min-width: 1200px) {
  .pokemon-grid {
    grid-template-columns: repeat(5, 1fr);
    margin: 0 8rem;
  }
}
.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  min-height: 300px;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.pokemon-card.visible {
  opacity: 1;
}

.pokemon-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background-image: url("../../../assets/images/pokeball.png");
  background-size: cover;
}

.pokemon-card-img img {
  width: 100%;
  margin-top: 2rem;
}

.pokemon-card-name {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1rem 0;
  text-transform: capitalize;
}

.pokemon-card-type {
  font-size: 0.9rem;
}

.pokemon-card-type ul li {
  display: inline;
}

.pokemon-card-height-and-weight {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  text-transform: capitalize;
}

.pokemon-height {
  margin-top: 0.5rem;
}

.pokemon-card-number {
  font-size: 1rem;
  align-self: flex-end;
  margin-top: 2rem;
  background: #fff;
  border-radius: 10px;
  padding: 0.3rem 0.5rem;
  box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 400px) {
  .pokemon-card {
    margin: 0 0 1rem 0;
  }
}
.footer {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 1rem;
}

.go-to-top {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.go-to-top:hover {
  background-color: #ef5350;
}

.go-to-top:hover .fa-angle-up {
  color: #fff;
}

.fa-angle-up:hover {
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
