.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  border: 1px solid black;
}

.pokemon-card-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-card-img img {
  width: 50%;
  margin-bottom: 1rem;
}
