// .pokemon-card-type-grass {
//   background: #ffffff;
//   background: -moz-linear-gradient(-45deg, #ffffff 0%, #e2ffdb 50%, #6d9f71 100%);
//   background: -webkit-linear-gradient(-45deg, #ffffff 0%, #e2ffdb 50%, #6d9f71 100%);
//   background: linear-gradient(135deg, #ffffff 0%, #e2ffdb 50%, #6d9f71 100%);
// }

.pokemon-card-type-grass {
  background-color: #5cb225;
}

.pokemon-card-type-fire {
  background-color: #e77245;
}

.pokemon-card-type-water {
  background-color: #def3fd;
}

.pokemon-card-type-bug {
  background-color: #98c77a;
}

.pokemon-card-type-normal {
  background-color: #f5f5f5;
}

.pokemon-card-type-poison {
  background-color: #98d7a5;
}

.pokemon-card-type-electric {
  background-color: #fcf7de;
}

.pokemon-card-type-ground {
  background-color: #f4e7da;
}

.pokemon-card-type-fairy {
  background-color: #fceaff;
}

.pokemon-card-type-fighting {
  background-color: #e6e0d4;
}

.pokemon-card-type-rock {
  background-color: #958d85;
}

.pokemon-card-type-psychic {
  background-color: #d397f7;
}

.pokemon-card-type-ice {
  background-color: #b9e8ea;
}

.pokemon-card-type-dragon {
  background-color: #ffeb7f;
}

.pokemon-card-type-flying {
  background-color: #f5f5f5;
}

.pokemon-card-type-ghost {
  background-color: #a936f1;
}
