* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: linear-gradient(102deg, hsl(165, 64%, 69%), hsl(255, 64%, 69%), hsl(345, 64%, 69%), hsl(75, 64%, 69%));
}

li {
  list-style: none;
}
